@viewport {width:device-width; zoom:1;}

body {
	font-size:100%; 
	font-family:Helvetica, Arial, sans-serif;
	padding: 0em;
	background: -webkit-linear-gradient(top, #284290 0%,#002b5b 100%);	
	color:#ffffff;
	}
	
img {
	max-width:100%;
	padding:1em 0;
	
	}

h1, h2, h3, h4, h5, h6 {
	font-family:Georgia, Times, serif;
	color:#ffffff;
	
	}

p {
	line-height:150%;
	color:#ffffff
	
	}
	
ul {
	line-height:150%
	
	}	
	
header {
	text-align:left;
	padding:8px;
	color:#ffffff;
	display:block;
	border:2px solid #D4AF37;
	
	}
	
footer {
	clear:both
	
	}

nav {
	font-weight:bold;
	font-size:125%;
	color:#002b5b;
		
		}
			
nav ul {
	margin:0;
	padding:0;
	list-style:none;
	
	}

nav a {
	display:block;
	padding:8px;
	border:2px solid #D4AF37;
	background: -webkit-linear-gradient(top, #fefcea 0%,#dcb439 98%);
	color:#002b5b
	
	}
	
nav {
	text-decoration:none;
	color:#002b5b;
	}	
	
#header a:link, a:visited {
	text-decoration:none;
	color:#ffffff;
	}
	
#footer a:link, a:visited {
	text-decoration:underline;
	color:#dcb439;
	}

	 
@media only screen and (min-width:400px) {

	nav {
		float:left;
		width:19%
	
		}
		
	main {
		float:right;
		width:75%
	
		}
	
	}
		

@media only screen and (min-width:800px) {
    img {float:right; max-width:100%; margin:0 0 1em 2em;}
    
		}
		